<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>
  </head>

  <body>

    <div class="container">

       <div class="row" id="shop-header">
         <div class="col-12">
            <img id="logo-header" src="images/bike-logo.svg" alt="">The Bike Shop Experience
            <% if (nbItem != 0) { %>
            <a href="/showCard" class="btn btn-outline-info btn-sm btn-align-right">View Card</a>
            <a href="/showCard" class="btn btn-outline-info btn-sm btn-align-right">Total: <%= nbItem %> €</a>
            <% } %>
          </div>
       </div>

       <div class="row" id="shop-background">
       </div>

      <div class="row">
      <% for (var i=0; i < bikes.length; i++) { %>
        <div class="col-12 col-sm-6 col-md-4 bike-card">
          <div class="card text-center">
            <img class="card-img-top" src="/images/<%= bikes[i].srcImage %>">
            <div class="card-body">
              <h5 class="card-title"><%= bikes[i].model %></h5>
              <span class="shop-price"><%= bikes[i].price %> €</span>
              <a href="shop?idProduct=<%= bikes[i].idProduct %>" class="btn btn-outline-info btn-sm">Buy</a>
            </div>
          </div>
        </div>
        <%
        }
        %>

      </div>

    </div>
  </body>
</html>
