<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>
  </head>
  <body>

    <div class="container">
       <div class="row" id="card-header">
         <div class="col-12">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> my Basket
          </div>
       </div>

      <nav id="card-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Shop</a></li>
          <li class="breadcrumb-item active" aria-current="page">Basket</li>
        </ol>
      </nav>

      <h1>Basket</h1>
      <div class="row" id="card-libelle">
        <div class="col-5 col-sm-3">Picture</div>
        <div class="col-4 d-none d-sm-block">Model</div>
        <div class="col-3 col-sm-2">Quantity</div>
        <div class="col-2 col-sm-1">Price</div>
        <div class="col-1 d-none d-sm-block">Total</div>
        <div class="col-2 col-sm-1">Suppr</div>
      </div>

      <div class="row card-product">

        <!-- FOR CARDS -->
        <%for (var i=0; i<cards.length; i++) { %>
        <!-- 1 CARD -->
        <div class="col-5 col-sm-3"><img class="bike-picture" src="/images/<%=cards[i].srcImage%>"></div>
        <div class="col-4 d-none d-sm-block"><p><%=cards[i].model %></p></div>
        <div class="col-3 col-sm-2">
          <form action="/refreshItem" method="post">
            <div class="row">
                <div class="col-8">
                  <input type="hidden" name="idCard" value="<%=cards[i].idCard%>">
                  <input type="text" name="qty" value="<%=cards[i].qty%>" class="form-control form-control-sm">
                </div>
                <div class="col-4">
                  <button type="submit" class="btn btn-outline-info btn-sm" name="button">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                  </button>
                </div>
            </div>
          </form>
        </div>
        <div class="col-2 col-sm-1"><%=cards[i].price %> €</div>
        <div class="col-1 d-none d-sm-block"><%=cards[i].total %>€</div>
        <div class="col-2 col-sm-1">
          <form action="/deleteItem" method="post">
            <input type="hidden" name="id" value="<%=cards[i].id%>" class="form-control form-control-sm">
            <button type="submit" class="btn btn-outline-info btn-sm" name="button">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      <% } %>
      <!-- END FOR CARDS -->

      </div>

      <div class="row" id="card-total">
        <div class="col-8 col-sm-10 text-right">Total basket: </div>
        <div class="col-4 col-sm-2"><%= cardTotal %> €</div>
      </div>

      <div class="row" id="card-checkout">
        <div class="col-12 text-right"><button type="button" class="btn btn-outline-info btn-sm" name="button">Checkout</button></div>
      </div>

    </div>
  </body>
</html>
